aiokafka==0.10.0
asyncpg==0.30.0
confluent-kafka==2.8.0
fastapi==0.115.6
grpcio-tools==1.68.1
prometheus-client==0.21.1
protobuf==5.29.2
pydantic==2.10.4
pydantic-settings==2.7.0
PyYAML==6.0.2
uvicorn==0.34.0
