# P1-O01 Kafka production config
# Rendered from infra/kafka/server.properties.template and inventory vars.

process.roles=broker,controller
node.id={{ kafka_node_id }}
controller.quorum.voters={% for host in groups['kafka'] | sort %}{{ hostvars[host].kafka_node_id }}@{{ hostvars[host].kafka_advertised_host | default(hostvars[host].ansible_host | default(host)) }}:{{ kafka_controller_port }}{% if not loop.last %},{% endif %}{% endfor %}

listeners=INTERNAL://0.0.0.0:{{ kafka_internal_port }},CLIENT://0.0.0.0:{{ kafka_client_port }},CONTROLLER://0.0.0.0:{{ kafka_controller_port }}
advertised.listeners=INTERNAL://{{ kafka_advertised_host | default(ansible_host | default(inventory_hostname)) }}:{{ kafka_internal_port }},CLIENT://{{ kafka_advertised_host | default(ansible_host | default(inventory_hostname)) }}:{{ kafka_client_port }}
listener.security.protocol.map=INTERNAL:SASL_SSL,CLIENT:SASL_SSL,CONTROLLER:SSL
inter.broker.listener.name=INTERNAL
controller.listener.names=CONTROLLER

authorizer.class.name=org.apache.kafka.metadata.authorizer.StandardAuthorizer
allow.everyone.if.no.acl.found=false
super.users=User:{{ kafka_inter_broker_user }};User:{{ kafka_admin_user }}

ssl.keystore.type=PKCS12
ssl.truststore.type=PKCS12
ssl.keystore.location=/etc/kafka/tls/broker.keystore.p12
ssl.keystore.password={{ kafka_ssl_keystore_password }}
ssl.key.password={{ kafka_ssl_key_password }}
ssl.truststore.location=/etc/kafka/tls/broker.truststore.p12
ssl.truststore.password={{ kafka_ssl_truststore_password }}
ssl.enabled.protocols=TLSv1.2,TLSv1.3
ssl.protocol=TLSv1.3
ssl.client.auth=none

sasl.enabled.mechanisms=SCRAM-SHA-256
sasl.mechanism.inter.broker.protocol=SCRAM-SHA-256
listener.name.internal.scram-sha-256.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ kafka_inter_broker_user }}" password="{{ kafka_inter_broker_password }}";
listener.name.client.scram-sha-256.sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="{{ kafka_inter_broker_user }}" password="{{ kafka_inter_broker_password }}";

log.dirs=/bitnami/kafka/data
num.partitions=12
default.replication.factor=3
min.insync.replicas=2
offsets.topic.replication.factor=3
transaction.state.log.replication.factor=3
transaction.state.log.min.isr=2
auto.create.topics.enable=false

